.logo img {
  width: 80%;
}

.table-card {
  padding: 0 !important;
}

.table-card h2 {
  background-color: #ffb353;
}

footer {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

.ata{
  min-height: 81vh;
  margin-top: 0em;
}

#rodape img {
  width: 100%;
}

.titulo {
  text-align: center;
  margin-left: 1.8em !important;
  margin-right: 1.8em;
}

.ata p {
  margin-left: 1.5em;
  margin-right: 1.5em;
  text-align: justify;
}

.no-status {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.5vh;
  width: 75vw;
  background-color: #f7f7f7;
  text-align: center;
  font-size: 1.5rem;
  color: #777;
}

@media print {
  @page {
    margin: 0;
    size: auto;
  }
  body {
    margin: 10px;
  }
}

