<div class="container-fluid mt-3 pt-2">
  <div class="card ms-3 me-3">
    <div class="row">

      <!-- <div class="form-floating col-sm-6 col-12 mt-3 mb-2 ms-5">
        <select name="sexec_id" id="sexec_id" class="form-select" #sexec_id (change)="(getSexecID(sexec_id.value))">
          <option *ngFor=" let sexec of lista_sexec" [value]=sexec.id> {{ sexec.secretaria }} / {{ sexec.sigla }}
          </option>
        </select>
        <label class="form-label pergunta ms-3" for="cargo">Secretária Executiva</label>
      </div>

      <div class="form-floating col-sm-5 col-12 mt-3 mb-2 me-3">
        <select name="coord_id" id="coord_id" class="form-select" #coord_id (change)="(getCoordID(coord_id.value))">
          <option *ngFor=" let coord of lista_coord" [value]=coord.id> {{ coord.coordenadoria }} / {{ coord.sigla }}
          </option>
        </select>
        <label class="form-label pergunta ms-3" for="cargo">Secretária Executiva</label>
      </div> -->
    </div>
    <div class="card-body table-card">
      <h2 class="text-center text-uppercase text-white mb-3 pt-4 pb-4">Inaugurações</h2>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col" class="align-middle text-center">Empresa</th>
              <th scope="col" class="align-middle text-center">CNPJ</th>
              <th scope="col" class="align-middle text-center">Tipo</th>
              <th scope="col" class="align-middle text-center">Cidade</th>
              <th scope="col" class="align-middle text-center">Região</th>
              <th scope="col" class="align-middle text-center">Data</th>
              <th scope="col" class="align-middle text-center">Empregos Gerados</th>
              <th scope="col" class="align-middle text-center" colspan="2">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ing of lista_inauguracao | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
              <td scope="row" class="align-middle text-center">{{ ing.ass_inauguracao_empresa.nome_fantasia }}</td>
              <td scope="row" class="align-middle text-center">{{ ing.ass_inauguracao_empresa.cnpj | mask: '00.000.000/0000-00' }}</td>
              <td class="align-middle text-center">{{ ing.tipo }}</td>
              <td class="align-middle text-center">{{ ing.ass_inauguracao_city.nome_municipio }}</td>
              <td class="align-middle text-center">{{ ing.ass_inauguracao_city.ass_cidade_regiao.nome }}</td>
              <td class="align-middle text-center">{{ ing.data_inauguracao | date :'dd/MM/yyyy' }}</td>
              <td class="align-middle text-center">{{ ing.qtde_empregos }}</td>


              <td class="align-middle text-center">
                <button title="Editar Empresas" type="button" class="btn btn-primary mx-3" (click)="editIng(ing)"
                  data-bs-toggle="modal" data-bs-target="#editSima"><i class="bi bi-pencil-square"></i></button>
              </td>

              <td *ngIf="profile_id === 1 || profile_id === 2 || profile_id === 3" class="text-center">
                <button title="Deletar Empresas" class="btn btn-danger" (click)="deleteIng(ing)" type="button">
                  <i class="bi bi-trash-fill"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>

</div>

<!--Modal Empresa e Atração-->
<div class="modal fade" id="editSima" tabindex="-1" aria-labelledby="editSimaLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable mt-5">
    <div class="modal-content">
      <div class="modal-header text-bg-success">
        <h1 class="modal-title fs-5 text-uppercase" id="editSimaLabel">{{ nameIng }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form [formGroup]="formIng">
            <fieldset>
              <div class="row mt-4 mb-4">
                <div class="form-group col-sm-4 col-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="tipo" placeholder="Digite o CNPJ da Empresa" name="tipo"
                    formControlName="tipo" required>
                    <label for="tipo" class="form-label pergunta">Tipo de Inauguração</label>
                  </div>
                </div>

                <div class="form-floating col-sm-4 col-12">
                  <select name="empresa_id" id="empresa_id" class="form-select" formControlName="empresa_id">
                    <option *ngFor="let empresa of lista_empresa" [value]=empresa.id>{{empresa.nome_fantasia}}</option>
                  </select>
                  <label class="form-label pergunta ms-3" for="empresa_id">Empresa</label>
                </div>

                <div class="form-floating col-sm-4 col-12">
                  <select name="city_id" id="city_id" class="form-select" formControlName="city_id">
                    <option *ngFor="let cidade of lista_cidade" [value]=cidade.id>{{cidade.nome_municipio}}</option>
                  </select>
                  <label class="form-label pergunta ms-3" for="city_id">Municipio</label>
                </div>

              </div>
              <div class="row mt-4 mb-4">
                <div class="form-group col-sm-4 col-12">
                  <div class="form-floating">
                    <input type="date" class="form-control" id="data_inauguracao" placeholder="Digite o nome do coordenador"
                      name="data_inauguracao" formControlName="data_inauguracao" required>
                      <label for="data_inauguracao" class="form-label pergunta">Data de Inauguração</label>
                  </div>
                </div>

                <div class="form-group col-sm-4 col-12">
                  <div class="form-floating">
                    <input type="number" class="form-control" id="valor" placeholder="Digite o nome do coordenador"
                      name="valor" formControlName="valor" required>
                      <label for="valor" class="form-label pergunta">Valor Investido</label>
                  </div>
                </div>

                <div class="form-group col-sm-4 col-12">
                  <div class="form-floating">
                    <input type="number" class="form-control" id="qtde_empregos" placeholder="Digite o nome do coordenador"
                      name="qtde_empregos" formControlName="qtde_empregos" required>
                      <label for="qtde_empregos" class="form-label pergunta">Empregos a gerar</label>
                  </div>
                </div>

              </div>

            </fieldset>


          </form>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="updateIng()" class="btn btn-warning">Update</button>

      </div>
    </div>
  </div>
</div>
