<section id="formProject">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card card_form mt-5">
          <div class="cabecalho">
            <h3 class="pb-3 pt-3 text-center text-white text-uppercase">Tarefas</h3>
          </div>
          <form class="ms-4 me-4" #formTarefa="ngForm">
            <fieldset>
              <div class="row mt-4 mb-4">

                <div class="form-floating col-sm-6 col-12">
                  <select class="form-select" id="projeto_id" name="projeto_id" #projeto_id="ngModel"
                    [(ngModel)]="tarefa.projeto_id" (change)="getUser(projeto_id.value)" (change)="getOrdemExecucao(projeto_id.value)">
                    <option *ngFor="let projeto of lista_projetos" [value]="projeto.id">{{ projeto.name }}</option>
                  </select>
                  <label for="projeto_id" class="form-label pergunta ms-3">Nome do Projeto</label>
                  <div *ngIf="!projeto_id.valid && projeto_id.touched" class="alert alert-danger" role="alert">
                    Nome do projeto é obrigatório
                  </div>
                </div>

                <div class="form-group col-sm-6 col-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="nome_ordem" placeholder="Digite o nome da etapa" name="nome_ordem"
                      #nome_ordem="ngModel" [(ngModel)]="tarefa.nome_ordem" required>
                    <label for="nome_ordem" class="form-label pergunta">Nome da tarefa</label>
                    <div *ngIf="!nome_ordem.valid && nome_ordem.touched" class="alert alert-danger" role="alert">
                      Nome da etapa é obrigatório
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-4 mb-4">

                <div class="col-sm-12 col-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="mapp" placeholder="Digite o nome da etapa" name="mapp"
                      #mapp="ngModel" [(ngModel)]="tarefa.mapp">
                    <label for="mapp" class="form-label pergunta">MAPP</label>

                  </div>
                </div>
                </div>

              <div class="row mt-4 mb-4">

                <div class="form-floating col-sm-9 col-12">
                  <select class="form-select" id="responsavel_id" name="responsavel_id" #responsavel_id="ngModel"
                    [(ngModel)]="tarefa.responsavel_id">
                    <option *ngFor="let user of lista_user" [value]="user.UserId">{{ user.ass_project_users.name }}</option>
                  </select>
                  <label for="responsavel_id" class="form-label pergunta ms-3">Responsável</label>
                  <div *ngIf="!responsavel_id.valid && responsavel_id.touched" class="alert alert-danger" role="alert">
                    Nome do responsável é obrigatório
                  </div>
                </div>

                <div class="form-group col-sm-3 col-12">
                  <div class="form-floating">
                    <input type="number" class="form-control" id="execucao" placeholder="Digite o nome do coordenador"
                      name="execucao" #execucao="ngModel" [(ngModel)]="tarefa.execucao" disabled required>
                      <label for="execucao" class="form-label pergunta">Ordem de Execução</label>
                    <div *ngIf="!execucao.valid && execucao.touched" class="alert alert-danger" role="alert">
                      Informar a ordem de execução é obrigatório
                    </div>
                  </div>
                </div>

              </div>
              <div class="row mt-4 mb-4">
                <div class="form-group col-sm-3 col-12">
                  <div class="form-outline">
                    <label for="data_inicial" class="form-label pergunta">Data de Inicio</label>
                    <input type="date" class="form-control" id="data_inicial"
                      placeholder="Digite o nome do responsável" name="data_inicial" #data_inicial="ngModel"
                      [(ngModel)]="tarefa.data_inicial" required>
                    <div *ngIf="!data_inicial.valid && data_inicial.touched" class="alert alert-danger"
                      role="alert">
                      Informar a data de início é obrigatório
                    </div>
                  </div>
                </div>

                <div class="form-group col-sm-3 col-12">
                  <div class="form-outline">
                    <label for="prazo" class="form-label pergunta">Prazo</label>
                    <input type="number" class="form-control" id="prazo" placeholder="Expectativa de concluir a tarefa em dias"
                      name="prazo" #prazo="ngModel" [(ngModel)]="tarefa.prazo" required>
                    <div *ngIf="!prazo.valid && prazo.touched" class="alert alert-danger" role="alert">
                      Informar o prazo é obrigatório
                    </div>
                  </div>
                </div>

                <div class="form-group col-sm-3 col-12">
                  <div class="form-outline">
                    <label for="valor_estimado" class="form-label pergunta">Valor Estimado</label>
                    <input type="number" class="form-control" id="valor_estimado" placeholder="Valor estimado do projeto"
                      name="valor_estimado" #valor_estimado="ngModel" [(ngModel)]="tarefa.valor_estimado">

                  </div>
                </div>

                <div class="form-group col-sm-3 col-12">
                  <label class="form-label pergunta ms-3" for="status_id">Status do projeto</label>
                  <select name="status_id" id="status_id" class="form-select" [(ngModel)]="tarefa.status_id" #status_id="ngModel">
                    <option *ngFor="let status of lista_status" [value]="status.id">{{ status.name }}</option>
                  </select>
                </div>
              </div>
              <button class="btn btn-primary btn-block mb-4" type="submit" [disabled]="!formTarefa.valid" (click)="saveTarefa()">Cadastrar Tarefas</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
