<ul class="nav nav-tabs" *ngIf="projeto">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/projeto/projetos', projeto.id, 'resumo']" routerLinkActive="active">Resumo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/projeto/projetos', projeto.id, 'cronograma']"
      routerLinkActive="active">Cronograma</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/projeto/projetos', projeto.id, 'membros']" routerLinkActive="active">Editar
      Membros</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/projeto/projetos', projeto.id, 'listarMeet']"
      routerLinkActive="active">Reuniões</a>
  </li>
</ul>

<div *ngIf="projeto">
  <div class="project-header text-center">
    <h3 class="text-uppercase">{{ projeto.name }}</h3>
  </div>

  <ng-container *ngIf="projeto.ass_project_tarefa.length > 0; else noCronogramas">
    <div class="bg-light-subtle py-4 d-flex justify-content-center gap-3"
      *ngIf="profile_id === 1 || profile_id === 2 || profile_id === 3">
      <button class="btn btn-danger rounded-pill px-3" routerLink="/projeto/cadastroTarefa">
        Cadastrar Tarefa
      </button>
      <button class="btn btn-warning rounded-pill px-3" routerLink="/projeto/subTarefas">
        Cadastrar Sub Tarefa
      </button>
    </div>

    <div class="table-cronograma table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="table-active">
          <tr>
            <th class="text-center">Ordem</th>
            <th class="text-center">Nome</th>
            <th class="text-center">Responsável</th>
            <th class="text-center">Status</th>
            <th class="text-center">Data Inicial</th>
            <th class="text-center">Prazo</th>
            <th class="text-center">Data de Conclusão</th>
            <th *ngIf="authenticated" class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody class="body-list">
          <ng-container *ngFor="let tarefa of projeto.ass_project_tarefa; let i = index">
            <tr class="cronograma-row">
              <td class="text-center align-middle fw-bold">{{ tarefa.execucao }}</td>
              <td class="name-row align-middle" (click)="toggleTasks(i)">
                <fa-icon [icon]="taskVisibility[i] ? faAngleDown : faAngleRight"></fa-icon> {{ tarefa.nome_ordem }}
              </td>
              <td class="text-center align-middle">{{ tarefa.ass_tarefa_users.name }}</td>
              <td class="text-center align-middle">
                <div class="status-display">
                  <span class="badge rounded-pill bg-primary" *ngIf="!taskStatusEdit[tarefa.id]"
                    (click)="editStatus('task', tarefa.id)">
                    {{ tarefa.ass_tarefa_status.name }}
                    <fa-icon [icon]="faCaretDown"></fa-icon>
                  </span>
                  <div *ngIf="taskStatusEdit[tarefa.id]">
                    <select *ngIf="authenticated" [(ngModel)]="taskSelectedStatus[tarefa.id]"
                      (change)="updateCronogramaStatus('task', tarefa.id, taskSelectedStatus[tarefa.id])">
                      <option *ngFor="let status of statuses" [value]="status.id">{{ status.name }}</option>
                    </select>
              <td *ngIf="!authenticated" class="text-center align-middle">{{ tarefa.ass_taarefa_status.name }}</td>
            </div>
          </div>
        </td>
        <td class="text-center align-middle">{{ tarefa.data_inicial | date : "dd/MM/yyyy" }}</td>
        <td class="text-center align-middle">{{ tarefa.prazo }} dias</td>
        <td class="text-center align-middle">{{ tarefa.data_conclusao | date : "dd/MM/yyyy" }}</td>
        <td *ngIf="authenticated" class="text-center">
          <div class="d-flex justify-content-center gap-2">
            <button class="btn btn-warning" type="button" (click)="chartTask()" data-bs-toggle="modal" data-bs-target="#modalChart">
              <fa-icon [icon]="faChartSimple"></fa-icon>
            </button>
            <button class="btn btn-primary" type="button" (click)="editCronograma(tarefa)" data-bs-toggle="modal" data-bs-target="#modalEditCronograma">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
            <button *ngIf="profile_id === 1 || profile_id === 2 || profile_id === 3" class="btn btn-danger" (click)="confirmDeleteCronograma(tarefa.id)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </div>
        </td>
      </tr>
      <tr class="subtask-row" *ngFor="let task of tarefa.ass_tarefa_task; let j = index" [hidden]="!taskVisibility[i]">
        <!-- Ordem -->
         <td class="text-center align-middle ps-3">
          {{ tarefa.execucao }}.{{ j + 1 }}
        </td>
         <!-- Nome da Subtarefa -->
        <td class="align-middle ps-4">
          {{ task.nome_sub_tarefa }}
        </td>
        <!-- Responsável -->
        <td class="text-center align-middle">
          {{ task.ass_task_users?.name }}
        </td>

        <!-- Status -->
        <td class="text-center align-middle">
          <div class="status-display">
            <span class="badge rounded-pill bg-success" *ngIf="!subtaskStatusEdit[task.id]" (click)="editStatus('subtask', task.id)">
              {{ task.ass_task_status.name }}
              <fa-icon [icon]="faCaretDown"></fa-icon>
            </span>
            <div *ngIf="subtaskStatusEdit[task.id]">
              <select *ngIf="authenticated" [(ngModel)]="subtaskSelectedStatus[task.id]"
                (change)="updateCronogramaStatus('subtask', task.id, subtaskSelectedStatus[task.id])">
                <option *ngFor="let status of statuses" [value]="status.id">
                  {{ status.name }}
                </option>
              </select>
              <span *ngIf="!authenticated">{{ task.ass_project_status?.name }}</span>
            </div>
          </div>
        </td>

        <!-- Datas -->
        <td class="text-center align-middle">{{ task.data_inicial | date:"dd/MM/yyyy" }}</td>
        <td class="text-center align-middle">{{ task.prazo }} dias</td>
        <td class="text-center align-middle">{{ task.data_conclusao | date:"dd/MM/yyyy" }}</td>

        <!-- Ações -->
        <td *ngIf="authenticated" class="text-center align-middle">
          <div class="d-flex justify-content-center gap-2">
            <button class="btn btn-info btn-sm" type="button" (click)="editTarefa(task)" data-bs-toggle="modal"
              data-bs-target="#modalEditTask">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>

            <button *ngIf="profile_id === 1 || profile_id === 2 || profile_id === 3" class="btn btn-danger btn-sm"
              (click)="confirmDeleteTarefa(task.id)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </div>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
</div>
</ng-container>
</div>

<ng-template #noCronogramas>
  <div class="no-cronogramas">
    <div class="no-cronogramas-card">
      <fa-icon [icon]="faCalendarXmark" class="empty-icon"></fa-icon>
      <h3>Nenhuma tarefa encontrada</h3>
      <p>Você ainda não cadastrou nenhuma tarefa no cronograma deste projeto.</p>

      <!-- Botão opcional (só exibe se usuário autenticado) -->
      <button *ngIf="authenticated" class="btn btn-primary mt-3" (click)="cadastrarTarefa()">
        <fa-icon [icon]="faPlus"></fa-icon> Criar primeira tarefa
      </button>
    </div>
  </div>
</ng-template>


<!--Modal deletar Tarefa-->
<div class="modal fade" id="confirmDeleteCronogramaModal" tabindex="-1"
  aria-labelledby="confirmDeleteCronogramaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteCronogramaModalLabel">Confirmar exclusão de cronograma</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Você tem certeza de que deseja excluir este cronograma?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
        <button type="button" class="btn btn-primary" (click)="deleteCronograma()">Sim</button>
      </div>
    </div>
  </div>
</div>

<!--Modal deletar SubTarefa-->
<div class="modal fade" id="confirmDeleteTarefaModal" tabindex="-1" aria-labelledby="confirmDeleteTarefaModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteTarefaModalLabel">Confirmar exclusão de tarefa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Você tem certeza de que deseja excluir esta tarefa?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
        <button type="button" class="btn btn-primary" (click)="deleteTarefa()">Sim</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Chart-->
<div class="modal fade" id="modalChart" tabindex="-1" aria-labelledby="modalChartLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable mt-5">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-uppercase" id="modalChartLabel">Tarefa</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="gantt">
          <div class="container">
            <app-gantt></app-gantt>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar Tarefa(Cronograma)-->
<div class="modal fade" id="modalEditCronograma" tabindex="-1" aria-labelledby="modalEditCronogramaLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable mt-5">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-uppercase" id="modalEditCronogramaLabel">Editar Tarefa</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formCronograma">
          <div class="row">
            <div class="col-sm-12 col-12 mb-3">
              <label for="nomOrdemInput" class="form-label">Tarefa</label>
              <input type="text" formControlName="nome_ordem" class="form-control" id="nomOrdemInput"
                aria-describedby="nome_ordem">
            </div>
          </div>

          <div class="row" *ngIf=" profile_id === 1 || profile_id === 2 || profile_id === 3">
            <div class="col-sm-4 col-12 mb-3">
              <label for="initialInput" class="form-label">Data Inicial</label>
              <input type="date" formControlName="data_inicial" class="form-control" id="initialInput">
            </div>
            <div class="col-sm-4 col-12 mb-3">
              <label for="prazoInput" class="form-label">Prazo</label>
              <input type="number" formControlName="prazo" class="form-control" id="prazoInput">
            </div>
            <div class="col-sm-4 col-12 mb-3">
              <label for="finalInput" class="form-label">Data Conclusão</label>
              <input type="date" formControlName="data_conclusao" class="form-control" id="finalInput">
            </div>
          </div>

          <div class="row" *ngIf=" profile_id === 4">
            <div class="col-sm-6 col-12 mb-3">
              <label for="initialInput" class="form-label">Data Inicial</label>
              <input type="date" formControlName="data_inicial" class="form-control" id="initialInput">
            </div>
            <div class="col-sm-6 col-12 mb-3">
              <label for="finalInput" class="form-label">Data Conclusão</label>
              <input type="date" formControlName="data_conclusao" class="form-control" id="finalInput">
            </div>
          </div>

          <div class="row">

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="updateCronograma()" class="btn btn-warning">Update</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar SubTarefa(Tarefa)-->
<div class="modal fade" id="modalEditTask" tabindex="-1" aria-labelledby="modalEditTaskLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable mt-5">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-uppercase" id="modalEditTaskLabel">Editar Atividade</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formTarefa">
          <div class="row">
            <div class="col-sm-12 col-12 mb-3">
              <label for="nomOrdemInput" class="form-label">Atividade</label>
              <input type="text" formControlName="nome_sub_tarefa" class="form-control" id="nomOrdemInput"
                aria-describedby="nome_ordem">
            </div>
          </div>

          <div class="row" *ngIf=" profile_id === 1 || profile_id === 2 || profile_id === 3">
            <div class="col-sm-4 col-12 mb-3">
              <label for="initialInput" class="form-label">Data Inicial</label>
              <input type="date" formControlName="data_inicial" class="form-control" id="initialInput">
            </div>
            <div class="col-sm-4 col-12 mb-3">
              <label for="prazoInput" class="form-label">Prazo</label>
              <input type="number" formControlName="prazo" class="form-control" id="prazoInput">
            </div>
            <div class="col-sm-4 col-12 mb-3">
              <label for="finalInput" class="form-label">Data Conclusão</label>
              <input type="date" formControlName="data_conclusao" class="form-control" id="finalInput">
            </div>
          </div>

          <div class="row" *ngIf=" profile_id === 4">
            <div class="col-sm-6 col-12 mb-3">
              <label for="initialInput" class="form-label">Data Inicial</label>
              <input type="date" formControlName="data_inicial" class="form-control" id="initialInput">
            </div>
            <div class="col-sm-6 col-12 mb-3">
              <label for="finalInput" class="form-label">Data Conclusão</label>
              <input type="date" formControlName="data_conclusao" class="form-control" id="finalInput">
            </div>
          </div>

          <div class="row">

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="updateTask()" class="btn btn-warning">Update</button>
      </div>
    </div>
  </div>
</div>
