<section id="formAtracao">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card card_form mt-5">
          <div class="cabecalho">
            <h3 class="pb-3 pt-3 text-center text-white text-uppercase">Cadastro FDI/CONDEC</h3>
          </div>
          <form class="ms-4 me-4" #formFDI="ngForm">
            <fieldset>
              <legend *ngIf="!taked_company">
                Dados da Empresa
              </legend>

              <legend *ngIf="taked_company">
                Cadastro do FDI da Empresa: {{ company_name }}
              </legend>

              <div class="row mt-4 mb-4" *ngIf="!taked_company">
                <div class="form-floating col-sm-4 col-12">
                  <select name="empresa_id" id="empresa_id" class="form-select" [(ngModel)]="fdi.empresa_id"
                    #empresa_id="ngModel">
                    <option *ngFor="let empresa of lista_empresa" [value]=empresa.id>{{empresa.nome_fantasia}}</option>
                  </select>
                  <label class="form-label pergunta ms-3" for="empresa_id">Empresa</label>
                </div>

                <div class="form-floating col-sm-4 col-12">
                  <select name="city_id" id="city_id" class="form-select" [(ngModel)]="fdi.city_id" #city_id="ngModel"
                    (change)="getRegiao(fdi.city_id)">
                    <option *ngFor="let cidade of lista_cidade" [value]=cidade.id>{{cidade.nome_municipio}}</option>
                  </select>
                  <label class="form-label pergunta ms-3" for="city_id">Municipio de Implantação</label>
                </div>

                <div class="col-sm-4 col-12 mb-3">
                  <div class="form-floating">
                    <input class="form-control" type="text" id="regiao" placeholder="Informe a sua região" name="regiao"
                     required [(ngModel)]="regiao" readonly>
                     <label for="regiao" class="form-label pergunta">Região de Planejamento</label>

                  </div>
                </div>
              </div>

              <div class="row mt-4 mb-4" *ngIf="taked_company">

                <div class="form-floating col-sm-6 col-12">
                  <select name="city_id" id="city_id" class="form-select" [(ngModel)]="fdi.city_id" #city_id="ngModel"
                    (change)="getRegiao(fdi.city_id)">
                    <option *ngFor="let cidade of lista_cidade" [value]=cidade.id>{{cidade.nome_municipio}}</option>
                  </select>
                  <label class="form-label pergunta ms-3" for="city_id">Municipio de Implantação</label>
                </div>

                <div class="col-sm-6 col-12 mb-3">
                  <div class="form-floating">
                    <input class="form-control" type="text" id="regiao" placeholder="Informe a sua região" name="regiao"
                     required [(ngModel)]="regiao" readonly>
                     <label for="regiao" class="form-label pergunta">Região de Planejamento</label>

                  </div>
                </div>
              </div>

              <div class="row mt-4 mb-4">
                <div class="form-group col-12">
                  <div class="form-outline">
                    <div class="form-floating">
                      <textarea class="form-control" id="pedido" [maxlength]="maxChars" [(ngModel)]="fdi.pedido"
                        name="pedido" style="height: 100px"></textarea>
                      <label for="floatingTextarea2">Detalhamento do Pedido</label>
                      <div class="limite_caractere alert alert-warning mt-1">Caracteres digitados: <strong>{{
                          fdi.pedido?.length }} / {{ maxChars }}</strong></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-4 mb-4">

                <div class="form-group col-sm-4 col-12">
                  <div class="form-floating">
                    <input type="number" class="form-control" id="valor_investimento"
                      placeholder="Digite o nome do coordenador" name="valor_investimento" #valor_investimento="ngModel"
                      [(ngModel)]="fdi.valor_investimento" required>
                    <label for="valor_investimento" class="form-label pergunta">Valor Investimento</label>
                    <div *ngIf="!valor_investimento.valid && valor_investimento.touched" class="alert alert-danger"
                      role="alert">
                      Informar o valor investido é obrigatório
                    </div>
                  </div>
                </div>

                <div class="form-group col-sm-4 col-12">
                  <div class="form-floating">
                    <input type="number" class="form-control" id="qtde_empregos"
                      placeholder="Digite o nome do coordenador" name="qtde_empregos" #qtde_empregos="ngModel"
                      [(ngModel)]="fdi.qtde_empregos" required>
                    <label for="qtde_empregos" class="form-label pergunta">Empregos a gerar</label>
                    <div *ngIf="!qtde_empregos.valid && qtde_empregos.touched" class="alert alert-danger" role="alert">
                      Informe a quantidade de empregos a serem gerados
                    </div>
                  </div>
                </div>

                <div class="form-floating col-sm-4 col-12">
                  <select name="status_id" id="status_id" class="form-select" [(ngModel)]="fdi.status_id"
                    #status_id="ngModel">
                    <option *ngFor="let status of lista_status" [value]="status.id">{{ status.name }}</option>
                  </select>
                  <label class="form-label pergunta ms-3" for="status_id">Status</label>

                </div>

              </div>

              <div class="row mt-4 mb-4">
                <div class="form-group col-12">
                  <div class="form-outline">
                    <div class="form-floating">
                      <textarea class="form-control" id="detalhamento" [maxlength]="maxChars"
                        [(ngModel)]="fdi.detalhamento" name="detalhamento" style="height: 100px"></textarea>
                      <label for="floatingTextarea2">Detalhamento do Status</label>
                      <div class="limite_caractere alert alert-warning mt-1">Caracteres digitados: <strong>{{
                          fdi.detalhamento?.length }} / {{ maxChars }}</strong></div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>

            <button class="btn btn-primary btn-block mb-4" type="submit" [disabled]="!formFDI.valid"
              (click)="saveFdi()">Cadastro de Empresa e Atração</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
