<section id="formProject">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card card_form mt-5">
          <div class="cabecalho">
            <h3 class="pb-3 pt-3 text-center text-white text-uppercase">Cadastro de Projetos</h3>
          </div>
          <form class="ms-4 me-4" #formProject="ngForm">
            <fieldset>
              <legend>
                Dados do Projeto
              </legend>
              <div class="row mt-4 mb-4">
                <div class="form-group col-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="name" placeholder="Digite o nome do Projeto" name="name"
                      #name="ngModel" [(ngModel)]="projeto.name" required>
                    <label for="name" class="form-label pergunta">Nome do Projeto</label>
                    <div *ngIf="!name.valid && name.touched" class="alert alert-danger" role="alert">
                      Nome do projeto é obrigatório
                    </div>
                  </div>
                </div>
                <!-- <div class="form-floating col-sm-6 col-12">
                  <select class="form-select" id="gerente_id" name="gerente_id" #gerente_id="ngModel"
                    [(ngModel)]="projeto.gerente_id">
                    <option *ngFor="let gerente of lista_gerente" [value]="gerente.id">{{ gerente.name }}</option>
                  </select>
                  <label for="gerente_id" class="form-label pergunta ms-3">Gerente do Projeto</label>
                  <div *ngIf="!gerente_id.valid && gerente_id.touched" class="alert alert-danger" role="alert">
                    Nome do gerente é obrigatório
                  </div>
                </div> -->
              </div>
              <div class="row mt-4 mb-4">
                <div class="form-group col-12">
                  <label for="descricao" class="form-label pergunta">Descrição do projeto</label>
                  <textarea name="descricao" id="descricao" cols="30" rows="10" class="form-control"
                    #descricao="ngModel" [(ngModel)]="projeto.descricao" required></textarea>
                  <div *ngIf="!descricao.valid && descricao.touched" class="alert alert-danger" role="alert">
                    Descrição do projeto é obrigatório
                  </div>
                </div>
              </div>

              <div class="row mt-4 mb-4" *ngIf="profile_id === 1 || profile_id === 2 || sexec_id === 2">
                <div class="form-group col-sm-6 col-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="numero_programa" placeholder="Digite o nome do Projeto" name="numero_programa"
                      #numero_programa="ngModel" [(ngModel)]="projeto.numero_programa">
                    <label for="numero_programa" class="form-label pergunta">Número do Programa</label>
                  </div>
                </div>

                <div class="form-group col-sm-6 col-12">
                  <div class="form-floating">
                    <input type="number" class="form-control" id="valor"
                      placeholder="Digite o nome do coordenador" name="valor" #valor="ngModel"
                      [(ngModel)]="projeto.valor">
                    <label for="valor" class="form-label pergunta">Valor Investimento</label>
                  </div>
                </div>
              </div>
              <div class="row mt-4 mb-4">

                <!-- <div class="form-floating col-sm-6 col-12">
                  <select class="form-select" id="coordenacao_id" name="coordenacao_id" #coordenacao_id="ngModel"
                    [(ngModel)]="projeto.coordenacao_id">
                    <option *ngFor="let coordenador of lista_coordenador" [value]="coordenador.id">{{
                      coordenador.name}}</option>
                  </select>
                  <label for="coordenacao_id" class="form-label pergunta ms-3">Coordenador do Projeto</label>
                  <div *ngIf="!coordenacao_id.valid && coordenacao_id.touched" class="alert alert-danger" role="alert">
                    Nome do coordenador é obrigatório
                  </div>
                </div> -->

                <!-- <div class="form-floating col-sm-6 col-12">
                  <select class="form-select" id="responsavel_id" name="responsavel_id" #responsavel_id="ngModel"
                    [(ngModel)]="projeto.responsavel_id">
                    <option *ngFor="let responsavel of lista_responsavel" [value]="responsavel.id">{{
                      responsavel.name}}</option>
                  </select>
                  <label for="responsavel_id" class="form-label pergunta ms-3">Responsável pelo Projeto</label>
                  <div *ngIf="!responsavel_id.valid && responsavel_id.touched" class="alert alert-danger" role="alert">
                    Nome do responsável é obrigatório
                  </div>
                </div> -->
              </div>
              <div class="row mt-4 mb-4">
                <div class="form-floating col-sm-6 col-12">
                  <select name="coord_id" id="coord_id" class="form-select" [(ngModel)]="projeto.coord_id"
                    #coord_id="ngModel" (change)="(foundSexec(coord_id.value, formProject))">
                    <option *ngFor="let coord of lista_coord" [value]=coord.id>{{coord.coordenadoria}}</option>
                  </select>
                  <label class="form-label pergunta ms-3" for="coord_id">Coordenadoria</label>
                </div>

                <div class="form-group col-sm-6 col-12 mb-3">
                  <div class="form-floating">
                    <input list="datalistSec" class="form-control" id="secretaria_executiva"
                    placeholder="Nome da Secretaria Executiva" name="secretaria_executiva" required
                    [(ngModel)]="secretaria_executiva" disabled>
                    <label for="name" class="form-label pergunta">Secretaria Executiva</label>
                  </div>
                </div>

                <!-- <div class="form-floating col-sm-6 col-12">
                  <select name="sexec_id" id="sexec_id" class="form-select" [(ngModel)]="projeto.sexec_id"
                    #sexec_id="ngModel">
                    <option *ngFor="let sexec of lista_sexec" [value]="sexec.id">{{sexec.secretaria}}</option>
                  </select>
                  <label class="form-label pergunta ms-3" for="sexec_id">Secretaria</label>
                </div> -->

              </div>
              <div class="row mt-4 mb-4">
                <div class="form-group col-sm-4 col-12">
                  <div class="form-outline">
                    <label for="data_inicio" class="form-label pergunta">Início do Projeto</label>
                    <input type="date" class="form-control" id="data_inicio" placeholder="Digite o nome do coordenador"
                      name="data_inicio" #data_inicio="ngModel" [(ngModel)]="projeto.data_inicio" required>
                    <div *ngIf="!data_inicio.valid && data_inicio.touched" class="alert alert-danger" role="alert">
                      Informar a data de inínico é obrigatório
                    </div>
                  </div>
                </div>
                <div class="form-group col-sm-4 col-12">
                  <div class="form-outline">
                    <label for="previsao_conclusao" class="form-label pergunta">Data de Conclusão</label>
                    <input type="date" class="form-control" id="previsao_conclusao"
                      placeholder="Digite o nome do responsável" name="previsao_conclusao" #previsao_conclusao="ngModel"
                      [(ngModel)]="projeto.previsao_conclusao">
                    <div *ngIf="!previsao_conclusao.valid && previsao_conclusao.touched" class="alert alert-danger"
                      role="alert">
                      Informar a data de conclusão é obrigatório
                    </div>
                  </div>
                </div>
                <div class="form-group col-sm-4 col-12">
                  <label class="form-label pergunta ms-3" for="status_id">Status do projeto</label>
                  <select name="status_id" id="status_id" class="form-select" [(ngModel)]="projeto.status_id" #status_id="ngModel">
                    <option *ngFor="let status of lista_status" [value]="status.id">{{ status.name }}</option>
                  </select>
                </div>
              </div>
              <button class="btn btn-primary btn-block mb-4" type="submit" [disabled]="!formProject.valid" (click)="saveProject()">Cadastro de Projeto</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
