<section>
  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/imgs/industria/FIEC SUMMIT 2.jpg" class="d-block w-100 imagem-carousel img-fluid"
          alt="">
        <!-- <div class="container">
          <div class="carousel-caption text-start">
            <h1>Example headline.</h1>
            <p class="opacity-75">Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div> -->
      </div>
      <div class="carousel-item">
        <img src="../../../assets/imgs/industria/PROENERGIA 6.JPG" class="d-block w-100 imagem-carousel img-fluid"
          alt="">
        <!-- <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div> -->
      </div>
      <div class="carousel-item">
        <img src="../../../assets/imgs/industria/IMG_02.jpeg" class="d-block w-100 imagem-carousel img-fluid" alt="">
        <div class="container">
          <!-- <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div> -->
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container-fluid marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row space-after-row">
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12 imagem">
            <img src="../../../assets/imgs/industria/atracao.jpg" class="img-fluid mx-auto d-block rounded-circle"
              alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center acesso">
            <h2 class="fw-normal mt-3">ATRAÇÃO</h2>
            <p>Cadastro de empresas atraídas para o Estado</p>
            <p><a class="btn btn-success" routerLink="/industria/atracao">ATRAÇÃO &raquo;</a></p>
            <p><a class="btn btn-success" routerLink="/industria/cadastroempresa">CADASTRO EMPRESA &raquo;</a></p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12 imagem">
            <img src="../../../assets/imgs/industria/industria_01.jpg" class="img-fluid mx-auto d-block rounded-circle" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center acesso">
            <!-- <h2 class="fw-normal mt-3">FDI / CONDEC</h2>
            <p>Cadastro de Indústria para o FDI.</p>
            <p><a class="btn btn-success" routerLink="/industria/fdi">FDI / CONDEC &raquo;</a></p>
            <p><a class="btn btn-primary" routerLink="/industria/editarcompany">VISUALIZAR &raquo;</a></p> -->
            <h2 class="fw-normal mt-3">VISUALIZAR CADASTRO</h2>
            <p>Visualizar e editar o cadastro de empresas e atração.</p>
            <p><a class="btn btn-primary" routerLink="/industria/editarcompany">VISUALIZAR &raquo;</a></p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12 imagem">
            <img src="../../../assets/imgs/industria/industria_02.jpg" class="img-fluid mx-auto d-block rounded-circle" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center acesso">
            <h2 class="fw-normal mt-3">SIMA</h2>
            <p>Cadastro de formulário para monitoramento do SIMA.</p>
            <p><a class="btn btn-success" routerLink="/industria/cadastrosima">SIMA &raquo;</a></p>
            <p><a class="btn btn-primary" routerLink="/industria/editarsima">EDITAR SIMA &raquo;</a></p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12 imagem">
            <img src="../../../assets/imgs/industria/industria_03.jpg" class="img-fluid mx-auto d-block rounded-circle" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center acesso">
            <h2 class="fw-normal mt-3">INAUGURAÇÃO</h2>
            <p>Cadstre aqui os eventos de inauguração das Indústrias do Estado do Ceará</p>
            <p><a class="btn btn-success" routerLink="/industria/cadastroinauguracao">CADASTRO &raquo;</a></p>
            <p><a class="btn btn-primary" routerLink="/industria/editarinauguracao">EDITAR &raquo;</a></p>
          </div>
        </div>
      </div>
    </div>


    <!-- START THE FEATURETTES -->

    <div class="row section-inauguracao space-after-row">
			<div class="inauguracao col-md-12">
				<p class="card-fonte-cursiva">Próxima Inauguração</p>

				<p class="text-center texto-section-grande">SALVE A DATA<br> {{ data_evento | date :'dd/MM/yyyy' }}</p>

				<p class="text-center mt-4 card-texto-cinza fw-bold"><span>Inauguração {{ evento }} na {{ empresa }} em {{ municipio }} - CE</span></p>

				<div class="text-center"><button type="button" routerLink="/industria/editarinauguracao" class="btn botao-section">PRÓXIMAS INAUGURAÇÕES</button></div>
			</div>
		</div>

        <!-- <hr class="featurette-divider">

    <div class="row featurette inauguracoes">
      <div class="col-sm-4 col-12">
        <h3 class="text-center mb-4 pb-4">Empresas no FDI</h3>
        <canvas id="barchart5"></canvas>
      </div>
      <div class="col-sm-4 col-12">
        <h3 class="text-center mb-4 pb-4">Investimento FDI</h3>
        <canvas id="barchart6"></canvas>
      </div>
      <div class="col-sm-4 col-12">
        <h3 class="text-center mb-4 pb-4">Empregos Gerados</h3>
        <canvas id="barchart7"></canvas>
      </div>
    </div> -->

    <hr class="featurette-divider">

    <div class="row featurette inauguracoes">
      <div class="col-sm-4 col-12">
        <h3 class="text-center mb-4 pb-4">Empresas Atraidas</h3>
        <canvas id="barchart8"></canvas>
      </div>
      <div class="col-sm-4 col-12">
        <h3 class="text-center mb-4 pb-4">Investimento</h3>
        <canvas id="barchart9"></canvas>
      </div>
      <div class="col-sm-4 col-12">
        <h3 class="text-center mb-4 pb-4">Empregos Atraidos</h3>
        <canvas id="barchart10"></canvas>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette inauguracoes">
      <div class="col-sm-3 col-12">
        <h3 class="text-center mb-4 pb-4">Inaugurações Realizadas</h3>
        <canvas id="barchart1"></canvas>
      </div>
      <div class="col-sm-3 col-12">
        <h3 class="text-center mb-4 pb-4">Novas Inaugurações</h3>
        <canvas id="barchart2"></canvas>
      </div>
      <div class="col-sm-3 col-12">
        <h3 class="text-center mb-4 pb-4">Inaugurações por Região</h3>
        <canvas id="barchart3"></canvas>
      </div>
      <div class="col-sm-3 col-12">
        <h3 class="text-center mb-4 pb-4">Novas Inaugurações</h3>
        <canvas id="barchart4"></canvas>
      </div>
    </div>

    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

</section>
