.nav-tabs {
  margin-bottom: 1rem;
}
.nav-link.active {
  font-weight: bold;
}
.card-body button {
  margin-left: 5px;
}

.pauta p{
  margin-left: 25px;
  margin-right: 25px;
  text-align: justify;
}
